# Python
__pycache__/
*.pyc
.env
*.session
*.session-journal

# IDE
.idea/
.vscode/

# Project directories
# docs/
output/
logs/
venv/
.venv/
.venv312/

# Tests and coverage
tests/
.pytest_cache/
.coverage
coverage/
htmlcov/
