openai>=1.0.0
telethon>=1.34.0
python-socks[asyncio]>=2.4.0
python-dotenv>=1.0.0
aiohttp>=3.9.0
aiohttp-socks>=0.8.4
google-api-python-client
langchain
langchain-openai
langchain-core
fluentogram

# Bot dependencies
aiogram==3.5.0
apscheduler==3.10.4
SQLAlchemy==2.0.29
asyncpg==0.29.0
psycopg2-binary==2.9.9
celery==5.4.0
redis==5.0.8
